<div id="wrap" class="input">
    <header class="input-header">
        <h1>Provide Azure Credentials</h1>
    </header>
    <section class="input-content">
        <h2>Provide Azure Credentials<span>Azure</span></h2>
        <form class="form" action="submit">
            <label for="name">User Name</label>
            <input class="form__inset" type="text" placeholder="User Name" name="User Name">
            <label for="name">Subscription Id</label>
            <input class="form__inset" type="text" placeholder="Subscription Id" name="Subscription Id">
            <label for="name">Client Id</label>
            <input class="form__inset" type="text" placeholder="Client Id" name="Client Id">
            <label for="name">Client Secret</label>
            <input class="form__inset" type="text" placeholder="Client Secret" name="Client Secret">
            <label for="name">Tenant Id</label>
            <input class="form__inset" type="text" placeholder="Tenant Id" name="Tenant Id">
        </form>
        <div class="btns">
            <button class="btn btn-cancel">Cancel</button>
            <button class="btn btn-confirm">Next</button>
        </div>
    </section>
</div>