<div id="wrap" class="input">
    <header class="input-header">
        <h1>Provide GCP Credentials</h1>
    </header>
    <section class="input-content">
        <h2>Provide Google Cloud Platform Credentials<span>GCP</span></h2>
        <form class="form" action="submit">
            <label for="name">User Name</label>
            <input class="form__inset" type="text" placeholder="User Name" name="User Name">
            <label for="name">Upload a JSON File</label>
            <input class="form__inset" type="file" placeholder="Upload a JSON File" name="Upload a JSON File">
        </form>
        <div class="btns">
            <button class="btn btn-confirm">Submit</button>
            <button class="btn btn-cancel">Cancel</button>
        </div>
    </section>
</div>