<div id="wrap" class="input">
    <header class="input-header">
        <h1>Provide GCP Credentials</h1>
    </header>
    <section class="input-content">
        <h2>Provide Google Cloud Platform Credentials<span>GCP</span></h2>
        <div class="input-content-wrap">
            <dl class="inputbox">
                <dt class="inputbox-title">User Name</dt>
                <dd class="inputbox-content">
                    <input id="user_name" type="text" required />
                    <label for="user_name">user name</label>
                    <span class="underline"></span>
                </dd>
            </dl>
            <dl class="inputbox">
                <dt class="inputbox-title">Upload a JSON File</dt>
                <dd class="inputbox-content">
                    <input id="json_file" type="file" required />
                    <!-- <label for="json_file">json file</label> -->
                    <!-- <span class="underline"></span> -->
                </dd>
            </dl>
            <div class="btns">
                <button class="btn btn-confirm">Submit</button>
                <button class="btn btn-cancel">Cancel</button>
            </div>
        </div>
    </section>
</div>