<div id="wrap" class="input">
    <header class="input-header">
        <h1>Create GKE Cluster</h1>
    </header>
    <section class="input-content">
        <h2>Create GKE Cluster<span>GKE</span></h2>
        <form class="form" action="submit">
            <label for="name">GKE Version</label>
            <input class="form__inset" type="text" placeholder="GKE Version" name="GKE Version">
            <label for="name">Node Count</label>
            <input class="form__inset" type="text" placeholder="Node Count" name="Node Count">
            <label for="name">Cluster Type</label>
            <select class="form__inset" name="cluster_type">
                <option value="Public">Public</option>
                <option value="Private">Private</option>
            </select>
            <div class="toggle-switch-container">
                <label for="name" class="toggle-label">Need Cost Analysis & Optimization</label>
                <label class="toggle-switch">
                  <input type="checkbox" id="toggle" name="cost_analysis" class="toggle-switch-checkbox">
                  <span class="slider"></span>
                </label>
              </div>
        </form>
        <div class="btns">
            <button class="btn btn-cancel">Cancel</button>
            <button class="btn btn-confirm">Submit</button>
        </div>
    </section>
</div>