<div *ngFor="let item of getObjectKeys(sampleData)">
  <strong>{{ item }}:</strong>
  <ng-container *ngIf="isObject(sampleData[item])">
    <div *ngFor="let nestedItem of sampleData[item] | keyvalue">
      <strong>{{ nestedItem.key }}:</strong> {{ nestedItem.value }}
    </div>
  </ng-container>
  <ng-container *ngIf="isArray(sampleData[item])">
    <ul>
      <li *ngFor="let arrayItem of sampleData[item] | keyvalue">
        <ng-container *ngIf="isObject(arrayItem.value)">
          <div *ngFor="let innerItem of arrayItem.value | keyvalue">
            <strong>{{ innerItem.key }}:</strong> {{ innerItem.value }}
          </div>
        </ng-container>
        <ng-container *ngIf="!isObject(arrayItem.value)">
          {{ arrayItem.value }}
        </ng-container>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="!isObject(sampleData[item]) && !isArray(sampleData[item])">
    {{ sampleData[item] }}
  </ng-container>
</div>


<button class="button-style" (click)="onBack()">Back</button>
