        <div class="header-blue">
            <div class="container hero">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1" style="width: 50%">
                        <h1>Cockpit Pro</h1>
                        <p>Cockpit Pro revolutionizes the way you create and manage cloud hosted 
                            Kubernetes clusters. With just a single click, you can launch a fully 
                            functional multi-cloud Kubernetes cluster tailored to your needs. 
                            Say goodbye to the complexities of manual setup and configuration – Cockpit Pro 
                            simplifies cluster deployment while providing you with advanced insights into 
                            resource utilization through the application of Goldilocks and FinOps principles.<br></p>
                    </div>
                    <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                        <div class="iphone-mockup">
                            <img class="device" src="https://i.imgur.com/bkCeTu7.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
<router-outlet></router-outlet>