        <div class="header-blue">
            <div class="container hero">
                <div class="row">
                    <div class="device dashboard col-12 col-lg-6 col-xl-5 offset-xl-1">
                        <h1>Cockpit Pro</h1>
                        <p>Ready to take your cloud management to the next level? Unlock the full potential of 
                            Cockpit Pro's Goldilocks and FinOps capabilities with our Pro version. Get detailed 
                            insights into resource utilization patterns, allocate resources based on real-time data, 
                            and optimize your cloud costs like never before.<br></p>
                    </div>
                    <div class="col-lg-5 offset-lg-1 offset-xl-0 d-lg-block phone-holder">
                        <div class="iphone-mockup">
                          <img class="device" src="../../assets/cockpit.png" id="animatedImage">
                        </div>
                      </div>
                      
                </div>
            </div>
        </div>
<router-outlet></router-outlet>