<div class="header-blue">
    <div class="container hero">
        <div class="row device">
                <h1>Welcome to Cockpit Pro</h1>
                <p>Cockpit Pro revolutionizes the way you create and manage cloud hosted 
                    Kubernetes clusters. With just a single click, you can launch a fully 
                    functional multi-cloud Kubernetes cluster tailored to your needs. 
                    Say goodbye to the complexities of manual setup and configuration – Cockpit Pro 
                    simplifies cluster deployment while providing you with advanced insights into 
                    resource utilization through the application of Goldilocks and FinOps principles.<br></p>
            </div>
                <div style="display: flex; justify-content: space-evenly; margin-top: 69px;">
                <div class="card device">
                    <div class="box" style="background-image: url(../../assets/cluster.jpg);">
                    </div>
                    <div class="card-label">
                        <h3 style="color: black; text-align: center;">Create Cluster</h3>
                    </div>
                </div>
                  
                <div class="card device">
                    <div class="box" style="background-image: url(./../assets/cloud.jpg);">
                    </div>
                    <div class="card-label">
                        <h3 style="color: black; text-align: center;">Cloud Credentials</h3>
                    </div>
                </div>
            </div>
            </div>
        </div>

<router-outlet></router-outlet>
