<div id="wrap" class="input">
    <header class="input-header">
        <h1>Provide AWS Credentials</h1>
    </header>
    <section class="input-content">
        <h2>Provide Amazon Web Service Credentials<span>AWS</span></h2>
        <form class="form" action="submit">
            <label for="name">User Name</label>
            <input class="form__inset" type="text" placeholder="User Name" name="User Name">
            <label for="name">Access Key</label>
            <input class="form__inset" type="text" placeholder="Access Key" name="Access Key">
            <label for="name">Secret Access Key</label>
            <input class="form__inset" type="text" placeholder="Secret Access Key" name="Secret Access Key">
        </form>
        <div class="btns">
            <button class="btn btn-cancel">Cancel</button>
            <button class="btn btn-confirm" (click)="onNextEks()">Next</button>
        </div>
    </section>
</div>